.Permute{
    height: 100vh;
    background-Image: url('../../public/img/main.png');
    background-size: cover; 
}
.per_menu{
    display: inline-block;
    width: 50vh;
    border-radius: 2.5%;
    margin-top: 5vh;
    background-color: white;
}
.per_title{
    padding: 5%;
    font-size: 2.5vh;
    color: black;
}
.per_img{
    float: right;
    width: 15vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
}
.fg{
    display: flex;
    justify-content: space-between;
}
.fc{
    font-size: 2vh !important;
    width: 28vh !important;
}
.center{
    place-content: center;
}
.mt-10{
    margin-top: 6vh !important;
}
.permute_img{
    width: 25vh;
    height: 25vh;

    border-radius: 1.5vh;
    -moz-border-radius: 1.5vh;
    -khtml-border-radius: 1.5vh;
    -webkit-border-radius: 1.5vh;

    margin-bottom: 7vh;
}