* {
    list-style-type : none;
}
a {
    color: black !important;
    text-decoration: none !important;
}
body {
    overflow: hidden;
}
.Products{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
.banner{
    width: 100%;
}
.grid{
    display: flex;
    padding-left: 6vh;
    padding-right: 6vh;
}
.category{
    position: relative;

    color: #000000;
    background-color: rgb(237, 237, 237);
    border: solid 1px #000000;

    border-radius: 1.5vw;
    display: inline-block;
    padding: 1% 10% 1% 10%;
    cursor: pointer;
    font-size: 2.5vh;
    font-family: 'LotteMartDream';
}
.category_over{
    position: relative;

    color: #fbac98;
    background: #ffe4de;
    border: solid 1px #ed866c;

    border-radius: 1.5vw;
    display: inline-block;
    padding: 1% 10% 1% 10%;
    cursor: pointer;
    font-size: 2.5vh;
    font-family: 'LotteMartDream';
}
.tools{
    display: flex;
    justify-content: space-between;
    height: 6vh;
    margin: 1.5vh 9.5vh 3vh 9.5vh;
}
.scrollbtn{
    border: 0;
    outline: 0;
    background-color: gray;
}
.products-box{
    padding: 0% 10% 5% 10%;
    height: 44.5vh;

    display: grid;
    justify-content: stretch;
    grid-template-columns: repeat(2, 1fr);

    text-align: -webkit-center;
}
.products{
    width: 100%;
}
.prod_background{
    background-color: rgb(233, 233, 233);

    padding: 5% 3vh 5% 5%;

    margin-left: 0.4vh;
    margin-right: 1.1vh;
    margin-bottom: 5%;

    border-radius: 1vh;
    -moz-border-radius: 1vh;
    -khtml-border-radius: 1vh;
    -webkit-border-radius: 1vh;

    display: flex;;
}
.products_img{
    width: 15vh;
    height: 16vh;

    border-radius: 1vh;
    -moz-border-radius: 1vh;
    -khtml-border-radius: 1vh;
    -webkit-border-radius: 1vh;

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.products_img_stop{
    position: absolute;
    width: 15vh;
    height: 16vh;
    
    border-radius: 1vh;
    -moz-border-radius: 1vh;
    -khtml-border-radius: 1vh;
    -webkit-border-radius: 1vh;

    background-color: rgba(0, 0, 0, 0.25);
}
.pis_png{
    margin-top: 2vh;
    width: 10vh;
    height: 10vh;
}
.pis_text{
    margin-top: 0vh;
    font-size: 2.5vh;
}
.prod_title{
    width: 10.5vh;
    padding-left: 5%;
    padding-top: 2%;
    text-align: left;
    font-size: 1.6vh;
}
.prod_cate{
    text-align: left;
    padding-left: 5%;
    font-size: 1.3vh;
}
.prod_text{
    padding-top: 82%;
    text-align: right;
    font-size: 1.3vh;
}
.prod_texts{
    display: flex;    
    justify-content: space-between;
}
.nav_close{
    padding-top: 5%;
    height: 1vh;
}
.slick-prev:before, .slick-next:before {
    font-size: 3.5vh !important;
    line-height: 0vh !important;
    position: absolute !important;
    transform: translate(-50%) !important;
    color: #393a3a !important;
}
.slick-slider{
    padding-left: 2vh !important;
    padding-right: 2vh !important;
    padding-bottom: 0.2vh !important;
}
.category_slider{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    display: inline-block;
}
.cate_slider{
    background-color: lightgray;
}