* {
    list-style-type : none
}
.frame{
    width: 100%;
    height: 100vh;
}
.benner{
    background-image:url('../public/img/benner1.png');
    background-size: cover;
    width: 100%;
    height: 20%;
}
.category-box{
    padding-left: 10%;
    background-color: gray;
}
.category{
    width: 90%;    
    display: flex;
    justify-content: space-between;

    font-size: 2.2vh;
}
.scrollbtn{
    border: 0;
    outline: 0;
    background-color: gray;
}
.product-box{
    padding: 0% 15% 10% 15%;
}
.products{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 10%;
}
