body {
    overflow: hidden;
}
.product{
    height: 80vh;
}
.navigation{
    height: 4vh;
    background-color: orange;
    padding-top: 1vh;
}
.left{

}
.rigth{
    
}
.product_img{
    width: 30vh;
    height: 30vh;
    
    background-size: contain;
    background-repeat: no-repeat;
}