* {
    list-style-type : none
}
a {
    text-decoration: none;
}
body {
    overflow: hidden;
}
.Products{
    width: 100%;
    height: 78.9vh;
}
.banner{
    width: 100%;
}
.category-box{
    padding-left: 10%;
    background-color: gray;
}
.category{
    width: 90%;    
    display: flex;
    justify-content: space-between;
    font-size: 2.2vh;
}
.scrollbtn{
    border: 0;
    outline: 0;
    background-color: gray;
}
.products-box{
    padding: 0% 5% 10% 5%;
    height: 80vh;
    overflow-y: auto;
}
.products{
    width: 100%;
    padding: 5%;
}
.products_img{
    width: 20vh;
    height: 20vh;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -khtml-border-radius: 100px;
    -webkit-border-radius: 100px;
}
.products-text{
    color: black;
}